.header-container {
    width: 100%;
    display: flex;
    align-items: center;
    height: 5em;
    padding: 0 2rem;
    background-color: #f4f4f4;
    box-shadow: 0px 1px 5px #00000050;
    box-sizing: border-box;

    .title {
        margin: 0;
        width: fit-content;
        padding-right: 1rem;
        border-right: solid 1px #d4d4d4;
        color: #2b2b2b;
    }

    .description {
        margin: 0;
        padding-left: 1rem;
        color: #6b6b6b;
    }
}
